{% extends 'base.html' %}
{% block content %}
<div class="gatya row">
    <div class="col">
    <img src="/static/img/gachagacha.png" class="w-75 h-auto m-3" id="gachaEmote">
    </div>
    <div class="setting col">
        <form method="post" name="gatya-form" id="gatya-form">
            <label for="gatya-content" class="form-label">ガチャの中身</label>
            <div class="input-group mb-3">
                <input type="text" name="gatya-content" id="gatya-content" class="form-control">
                <input type="submit" id="submit-btn" class="btn bg-dark text-white" value="追加">
            </div>
            <div class="row">
                <table class="table col">
                    <thead>
                        <th>名前</th>
                        <th>確率</th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody id="gatya-table">

                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<script src="static/js/gacha.js"></script>
{% endblock %}